
.iletisim-container{
    display: flex;
    justify-content: center;
    background-image: url(/img/formbg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}


.iletisim-panel{
    width: 800px;
    margin-top: 100px;
    margin-bottom: 200px;
    z-index: 2;
    position: relative; 
    color: #ffff;
}

.iletisim-panel h1{
    text-align: center;
    padding-top: 10px;
}


.iletisim-panel::before{
    content:"" ;
    position: absolute;
    width: 800px;
    height: 640px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    pointer-events: none;
}

.iletisim-form{
    align-items: center;
    justify-content: center;
    height: 610px;
    padding-left: 10px;
    padding-right: 10px;
}

.iletisim-form h2{
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
}

fieldset{text-align: center;}

.form-isim{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-telefon{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-email{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-sehir{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.form-yetenek{
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.row{
    padding-top: 5px;
}

.form-mesaj{
    padding-top: 5px;
    text-align: center;
}

.form-mesaj-baslik{
    padding-top: 5px;
    
}
.form-mesaj-baslik input{
    text-align: center;
    width: 100%;
    border-radius: 10px;
}


.form-mesaj textarea{
    text-align: center  ;
    width: 100%;
    border-radius: 10px;
}

.form-dosya{
    padding-top: 5px;
    text-align: left;
}

.form-dosya input{
    width: 200px;
}

.button{
    border-radius: 10px;
    text-align: center;
    width: 120px;
    transition: transform 0.3s ease;    
}

.button:hover{
    transform: scale(1.2);
}

.error {
    color: red;
    font-size: 12px;
  }
  

@media only screen and (max-width:424px){ 
    
    .iletisim-panel{
        width: 300px;
        margin-top: 50px;
        margin-bottom: 200px;
    }
    
    
    .iletisim-panel::before{
        width: 300px;
        height: 730px;
    }
    .yas-col{
        padding-top: 10px;
    }
    
    input::placeholder {
        font-size: 12px; 
      }
    select::placeholder {
        font-size: 12px; 
      }
    input[type="range"] {
        width: 70px; 
    }
    input[type="radio"] {
        width: 10px;
        height: 10px;
    }
    
    label{
        font-size: 13px;
    }
    .form-mesaj textarea::placeholder{
        font-size: 12px;
    }
    .button{
        width: 100px;
        font-size: 15px;
    }
    
    .error {
        font-size: 10px;
        padding-top: 2px;
      }
 }

 @media only screen and (min-width:425px) and (max-width:600px) {
  
    .iletisim-panel{
        width: 400px;
        margin-top: 50px;
        margin-bottom: 200px;
    }
    
    
    .iletisim-panel::before{
        width: 400px;
        height: 690px;
    }
    .yas-col{
        padding-top: 10px;
    }
    
    input::placeholder {
        font-size: 15px; 
      }
    select::placeholder {
        font-size: 15px; 
      }
    input[type="range"] {
        width: 100px; 
    }
    input[type="radio"] {
        width: 13px;
        height: 13px;
    }
    
    label{
        font-size: 17px;
    }
    .form-mesaj textarea::placeholder{
        font-size: 17px;
    }
    .button{
        width: 130px;
        font-size: 17px;
    }
    
    .error {
        font-size: 10px;
        padding-top: 2px;
      }

 }

 @media only screen and (min-width:600px) and (max-width:767px) {
    .iletisim-panel{
        width: 530px;
        margin-top: 50px;
        margin-bottom: 260px;
    }
    
    .iletisim-panel::before{
        width: 530px;
        height: 730px;
    }
    .yas-col{
        padding-top: 10px;
    }
    
    input::placeholder {
        font-size: 17px; 
      }
    select::placeholder {
        font-size: 17px; 
      }
    input[type="range"] {
        width: 130px; 
    }
    input[type="radio"] {
        width: 15px;
        height: 15px;
    }
    
    label{
        font-size: 17px;
    }
    .form-mesaj textarea::placeholder{
        font-size: 17px;
    }
    .button{
        width: 170px;
        font-size: 17px;
    }
    
    .error {
        font-size: 13px;
        padding-top: 2px;
      }
 }

 @media only screen and (min-width:767px) and (max-width:890px) {
 
    .iletisim-panel{
        width: 650px;
        margin-top: 50px;
        margin-bottom: 200px;
    }
    
    
    .iletisim-panel::before{
        width: 650px;
        height: 750px;
    }
    .yas-col{
        padding-top: 10px;
    }
    
    input::placeholder {
        font-size: 19px; 
      }
    select::placeholder {
        font-size: 19px; 
      }
    input[type="range"] {
        width: 180px; 
    }
    input[type="radio"] {
        width: 17px;
        height: 17px;
    }
    
    label{
        font-size: 20.5px;
    }
    .form-mesaj textarea::placeholder{
        font-size: 19px;
    }
    .button{
        width: 130px;
        font-size: 19px;
    }
    
    .error {
        font-size: 15px;
        padding-top: 2px;
      }

 }


