.api-container {
  align-items: center;
}

.api-container-baslik h1 {
  text-align: center;
  margin-top: 20px;
}

.api-icerik {
  text-align: center;
}

.api-icerik h2 {
  text-align: center;
  padding-bottom: 10px;
}

.api-icerik img {
  background-color: #002a3b;
  padding: 10px;
  border-radius: 3%;
  height: 500px;
  width: 80%;
}

.api-icerik p {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
}
