.carousel-item{
    height: 91vh;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption{
    bottom: 180px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    color: #ffffff ;
    margin:auto ;
    font-size: 19px;
    line-height: 1.9;

}

.carousel-inner::before{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.carousel-control-next i {
    padding-left: 50px;
    font-size: 25px;
}

.carousel-control-prev i {
    padding-right: 50px;
    font-size: 25px;
}

/* SLİDERS  */

/* HAKKIMDA */

.hakkimda {
    padding-top: 64px;}

 .hakkimda h2.s-heading {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;}
.hakkimda h3{
    text-align: left;
}

.hakkimda img.rounded-circle{
width: 300px;
height: 300px;
padding: 10px;
object-fit: cover;
}
/* HAKKIMDA */

/* HOBİLERİM */

.hobilerim {
    padding-top: 10px;
}

 .hobilerim h2.s-heading {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;}
.hobilerim h3{
    text-align: left;
}

.foto-galeri{
    width: 100%;
    display: grid;
    margin-bottom: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,300px);
    gap: 10px;
}

.foto-galeri img:hover{
    transform: scale(1.2);
    
}

.foto-galeri img{
    height: 267.5px;
    width: 300px;
    background-color: #002A3B;
    padding: 5px;
    opacity: 100%;
    border-radius: 5%;
    transition: transform 0.3s ease;
}   

/* HOBİLERİM */

/*891-1024px*/
@media only screen and (min-width:891px) and (max-width:1023px) {
    .carousel-caption {
        bottom: 50px;
    }
    .carousel-caption h5 {
        font-size: 40px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 80%;
        line-height: 1.6;
        font-size: 25px;
    }
    .carousel-item {
        height: 91vh;
        overflow: hidden;
    }
    .carousel-inner::before {
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
    }
    .hakkimda {
        padding: 10px 0;
    }
    
    .hakkimda h2.s-heading{
        font-size: 30px;
    }

    .hakkimda h3{
    font-size: 25px;
    font-weight: 400;
    }

    .hakkimda img.rounded-circle{
    width: 200px;
    height: 200px;
    object-fit: cover;
    }  
    .hobilerim {
        padding: 10px 0;
    }
    
    .hobilerim h2.s-heading{
        font-size: 30px;
    }

    .hobilerim h3{
    font-size: 25px;
    font-weight: 400;
    }
}





/* TABLET RESPONSİVE */

@media only screen and (min-width:768px) and (max-width:890px) {
    .carousel-caption {
        bottom: 20px;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 80%;
        line-height: 1.6;
        font-size: 20px;
    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-inner::before {
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
    }
    .hakkimda {
        padding: 10px 0;
    }
    
    .hakkimda h2.s-heading{
        font-size: 30px;
    }

    .hakkimda h3{
    font-size: 25px;
    font-weight: 400;
    }

    .hakkimda img.rounded-circle{
    width: 200px;
    height: 200px;
    object-fit: cover;
    }  
    .hobilerim {
        padding: 10px 0;
    }
    
    .hobilerim h2.s-heading{
        font-size: 25px;
    }

    .hobilerim h3{
    font-size: 20px;
    font-weight: 400;
    }
}

/* TABLET RESPONSİVE */

/* 660-767px*/
@media only screen and (min-width:661px) and (max-width:767px) {

    .carousel-item img {
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 10px;
        font-size: 10px;
        }
    
    .carousel-caption h5 {  
        margin-top: 20px;
        font-size: 30px;
    }

    .carousel-caption a{
        padding: 10px 
    }

    .carousel-caption .btn{
       width: 80px;
       font-size: 13px;
       height: 0px;
       padding-bottom: 30px;
       margin-bottom: 10px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 20px ;

    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-inner::before{
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";

    }
    .hakkimda {
        padding: 10px 0;
    }
    
    .hakkimda h2.s-heading{
        font-size: 25px;
    }

    .hakkimda h3{
    font-size: 20px;
    font-weight: 400;
    }

    .hakkimda img.rounded-circle{
    width: 175px;
    height: 175px;
    object-fit: cover;
    }  
    .hobilerim {
        padding: 10px 0;
    }
    
    .hobilerim h2.s-heading{
        font-size: 25px;
    }

    .hobilerim h3{
    font-size: 20px;
    font-weight: 400;
    }
    .carousel-control-next{
        padding-right: 30px;
    }
    .carousel-control-prev{
        padding-left: 30px;
    }
}








/* 425-660px */ 

@media only screen and (min-width:425px) and (max-width:660px) {

    .carousel-item img {
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 10px;
        font-size: 10px;
        }
    
    .carousel-caption h5 {  
        margin-top: 20px;
        font-size: 20px;
    }

    .carousel-caption a{
        padding: 10px 
    }

    .carousel-caption .btn{
       width: 70px;
       font-size: 10px;
       height: 30px;
       padding-bottom: 25px;
       margin-bottom: 10px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 16px ;

    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-inner::before{
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";

    }
    .hakkimda {
        padding: 10px 0;
    }
    
    .hakkimda h2.s-heading{
        font-size: 25px;
    }

    .hakkimda h3{
    font-size: 20px;
    font-weight: 400;
    }

    .hakkimda img.rounded-circle{
    width: 150px;
    height: 150px;
    object-fit: cover;
    }  
    .hobilerim {
        padding: 10px 0;
    }
    
    .hobilerim h2.s-heading{
        font-size: 25px;
    }

    .hobilerim h3{
    font-size: 20px;
    font-weight: 400;
    }
    .carousel-control-next{
        padding-right: 30px;
    }
    .carousel-control-prev{
        padding-left: 30px;
    }
}

/* 320px */

@media only screen and (max-width:424px){

    .carousel-item img {
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 10px;
        font-size: 5px;
        }
    
    .carousel-caption h5 {  
        margin-top: 50px;
        font-size: 11px;
    }

    .carousel-caption a{
        padding: 10px 
    }

    .carousel-caption .btn{
       width: 60px;
       font-size: 10px;
       height: 20px;
       padding-bottom: 22px;
       margin-bottom: 5px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px ;

    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-inner::before{
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";

    }
    .hakkimda {
        padding: 10px 0;
    }
    
    .hakkimda h2.s-heading{
        font-size: 25px;
    }

    .hakkimda h3{
    font-size: 20px;
    font-weight: 400;
    }

    .hakkimda img.rounded-circle{
    width: 150px;
    height: 150px;
    object-fit: cover;
    }  
    .hobilerim {
        padding: 10px 0;
    }
    
    .hobilerim h2.s-heading{
        font-size: 25px;
    }

    .hobilerim h3{
    font-size: 20px;
    font-weight: 400;
    }
    .carousel-control-next{
        padding-right: 30px;
    }
    .carousel-control-prev{
        padding-left: 30px;
    }
}
