
body{
	background-color: #f1fbff;
    padding: 0px;

}

.ozgecmis{
    margin: 0;
}



.ozgecmis-container{
    display: flex;
    flex-direction: row;
}

.ozgecmis-bilgiler{
    padding: 0px 20px;
    width: 100%;
}

.ozgecmis-bilgiler:first-child{
    background-color: #14EE81; 
    max-width:300px;
    color: #f1fbff;
}

.ozgecmis-bilgiler .ozgecmis-profil img{
    background-color: #002A3B;
    width: 180px;
    padding: 10px;
    display: block;
    margin: 15px auto;
    border-radius: 100%;
}

.ozgecmis-bilgiler .ozgecmis-profil .profil-bilgiler{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #002A3B;
    margin: 15px 0;

}

.ozgecmis-sol-bar{
    margin: 0 0 20px 0;
    color: #002A3B;
    font-weight: 600;
    font-size: 15px;
}

.ozgecmis-sol-bar .baslik{
    position: relative;
    font-size: 17px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.ozgecmis-sol-bar .list{
    margin: 0;
    padding: 0 16px;
}

.ozgecmis-sol-bar .progress{
    height: 20px;
    background-color: #002A3B;
}

.ozgecmis-sol-bar .progress .progress-bar{
    background-color:rgb(0, 143, 88);
}

.ozgecmis-bilgiler:last-child{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ozgecmis-bilgiler:last-child h2{
    padding-top: 20px;
    font-size: 30px;
}

.ozgecmis-bilgiler:last-child li{
    font-size: 23px;
}




/*Resposive*/

@media only screen and (min-width:319px) and (max-width:374px) {
    .ozgecmis-bilgiler{
        padding: 20px 20px;
    }
    .ozgecmis-bilgiler .ozgecmis-profil img{
        width: 130px;
        padding: 5px;

    }
    .ozgecmis-bilgiler:first-child{
        max-width:170px;
    }

    .ozgecmis-bilgiler .ozgecmis-profil .profil-bilgiler{
        font-size: 14px;
    }

    .ozgecmis-sol-bar{
        font-size: 14px;
    }

    .ozgecmis-sol-bar .baslik{
        text-align: center;
        font-size: 14px;
    }

    .ozgecmis-bilgiler:last-child h2{
        padding-top: 20px;
        font-size: 18px;
    }

    .ozgecmis-bilgiler:last-child li{
        font-size: 12px;
    }
    .alt-satir{
        display: inline-block;
    }

}


@media only screen and (min-width:374px) and (max-width:424px) {
    .ozgecmis-bilgiler{
        padding: 20px 20px;
    }
    .ozgecmis-bilgiler .ozgecmis-profil img{
        width: 130px;
        padding: 5px;

    }
    .ozgecmis-bilgiler:first-child{
        max-width:185px;
    }

    .ozgecmis-bilgiler .ozgecmis-profil .profil-bilgiler{
        font-size: 17px;
    }

    .ozgecmis-sol-bar{
        font-size: 16px;
    }

    .ozgecmis-sol-bar .baslik{
        text-align: center;
        font-size: 17px;
    }

    .ozgecmis-bilgiler:last-child h2{
        padding-top: 20px;
        font-size: 18px;
    }

    .ozgecmis-bilgiler:last-child li{
        font-size: 19px;
        padding-top: 5px;
    }
    .ozgecmis-bilgiler:last-child .egitim .alt-satir{
       display: inline-block;
    }
    .alt-satir{
        display: inline-block;
    }

}


@media only screen and (min-width:424px) and (max-width:767px) {
    .ozgecmis-bilgiler{
        padding: 20px 20px;
    }
    .ozgecmis-bilgiler .ozgecmis-profil img{
        width: 130px;
        padding: 5px;

    }
    .ozgecmis-bilgiler:first-child{
        max-width:185px;
    }

    .ozgecmis-bilgiler .ozgecmis-profil .profil-bilgiler{
        font-size: 17px;
    }

    .ozgecmis-sol-bar{
        font-size: 16px;
    }

    .ozgecmis-sol-bar .baslik{
        text-align: center;
        font-size: 17px;
    }

    .ozgecmis-bilgiler:last-child h2{
        padding-top: 20px;
        font-size: 18px;
    }

    .ozgecmis-bilgiler:last-child li{
        font-size: 21px;
        padding-top: 5px;
    }
    .alt-satir{
        display: inline-block;
    }

}