
body{
	background-color: #f1fbff;
    padding: 0px;

}

.ozgecmis{
    margin: 0;
}


.ozgecmis-container{
    display: flex;
    flex-direction: row;
}



@media only screen and (max-width:768px){
    .ozgecmis-container{
        flex-direction: row;
    }

    .ozgecmis-bilgiler{
        padding: 50px 20px;
        min-height: 800px;
    }

    .ozgecmis-bilgiler .ozgecmis-profil .profil-bilgiler{
        margin: 50px 0;
    }
    
    .ozgecmis-bilgiler:first-child{
        background-color: #14EE81; 
        max-width:100px;
        color: #f1fbff;
    }
    .ozgecmis-bilgiler .ozgecmis-profil img{
        width: 150px;

    }
}

.ozgecmis-bilgiler{
    padding: 0px 20px;
    width: 100%;
}

.ozgecmis-bilgiler:first-child{
    background-color: #14EE81; 
    max-width:300px;
    color: #f1fbff;
}

.ozgecmis-bilgiler .ozgecmis-profil img{
    background-color: #002A3B;
    width: 180px;
    padding: 10px;
    display: block;
    margin: 15px auto;
    border-radius: 100%;
}

.ozgecmis-bilgiler .ozgecmis-profil .profil-bilgiler{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #002A3B;
    margin: 15px 0;

}

.ozgecmis-sol-bar{
    margin: 0 0 20px 0;
    color: #002A3B;
    font-weight: 600;
    font-size: 13px;
}

.ozgecmis-sol-bar .baslik{
    position: relative;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.ozgecmis-sol-bar .list{
    margin: 0;
    padding: 0 16px;
}

.ozgecmis-sol-bar .progress{
    height: 20px;
    background-color: #002A3B;
}

.ozgecmis-sol-bar .progress .progress-bar{
    background-color:rgb(0, 143, 88);
}

.ozgecmis-bilgiler:last-child{
    padding-top: 10px;
}
.ozgecmis-bilgiler:last-child h2{
font-size: 30px;
}

.ozgecmis-bilgiler:last-child li{
    font-size: 20px;
}

