.carousel-item{
    height: 91vh;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption{
    bottom: 270px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    color: #ffffff ;
    margin:auto ;
    font-size: 18px;
    line-height: 1.9;

}

.carousel-inner::before{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}

.carousel-control-next i {
    padding-left: 50px;
    font-size: 25px;
}

.carousel-control-prev i {
    padding-right: 50px;
    font-size: 25px;
}

.tanitim h3{
text-align: left;
}

.gezilecek h3{
    text-align: left;
}

.yemek h3{
    text-align: left;
}

.denizlispor h3{
    text-align: left;
}

.alt-cizgi{
    text-decoration: none;
}



/* TABLET RESPONSİVE */

@media only screen and (min-width:891px) and (max-width:1023px) {
    .carousel-item img {
        height: 91vh;
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 200px;}
    
    .carousel-caption h5 {  
        font-size: 40px;
        padding-bottom: 40px;
        }

    .carousel-item {
        height: 70%;
        overflow: hidden;
    }

    .tanitim h3{
        font-size: 30px;
    }
        
    .gezilecek h3{
        font-size: 30px;
    }
    
    .yemek h3{
        font-size: 30px;
    }
    
    .denizlispor h3{
        font-size: 30px;
    }
}





/* TABLET RESPONSİVE */

@media only screen and (min-width:767px) and (max-width:890px) {
    .carousel-item img {
        height: 91vh;
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 200px;}
    
    .carousel-caption h5 {  
        font-size: 40px;
    }

    .carousel-item {
        height: 70%;
        overflow: hidden;
    }

    .tanitim h3{
        font-size: 30px;
    }
        
    .gezilecek h3{
        font-size: 30px;
    }
    
    .yemek h3{
        font-size: 30px;
    }
    
    .denizlispor h3{
        font-size: 30px;
    }
    
}

/* TABLET RESPONSİVE */

/* 660-767px*/
@media only screen and (min-width:600px) and (max-width:767px) {
    .carousel-item img {
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 80px;}
    
    .carousel-caption h5 {  
        font-size: 30px;
        padding-bottom: 30px;
    }

    .carousel-item {
        height: 70%;
        overflow: hidden;
    }

    .tanitim h3{
        font-size: 25px;
    }
        
    .gezilecek h3{
        font-size: 25px;
    }
    
    .yemek h3{
        font-size: 25px;
    }
    
    .denizlispor h3{
        font-size: 25px;
    }
    
}








/* 425-660px */ 

@media only screen and (min-width:425px) and (max-width:600px) {
    .carousel-item img {
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 50px;}
    
    .carousel-caption h5 {  
        margin-top: 50px;
        font-size: 22px;
    }

    .carousel-caption a{
        padding: 10px 
    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-control-next{
        padding-right: 30px;
    }
    .carousel-control-prev{
        padding-left: 30px;
    }

    .tanitim h3{
        font-size: 20px;
    }
        
    .gezilecek h3{
        font-size: 20px;
    }
    
    .yemek h3{
        font-size: 20px;
    }
    
    .denizlispor h3{
        font-size: 20px;
    }
    
}

/* 320px */

@media only screen and (max-width:424px){

    .carousel-item img {
        object-fit: cover;
    }
    .carousel-caption{
        bottom: 25px;}
    
    .carousel-caption h5 {  
        margin-top: 50px;
        font-size: 20px;
    }

    .carousel-caption a{
        padding: 10px 
    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-control-next{
        padding-right: 30px;
    }
    .carousel-control-prev{
        padding-left: 30px;
    }

    .tanitim h3{
        font-size: 20px;
    }
        
    .gezilecek h3{
        font-size: 20px;
    }
    
    .yemek h3{
        font-size: 20px;
    }
    
    .denizlispor h3{
        font-size: 20px;
    }
    
}
