body {
	font-family: Kalam, cursive;
	background-color: #f1fbff;
}

*{
font-family: kalam,cursive ;
}

.section-padding{
    padding: 100px 0;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    color: #ffffff ;
    margin:auto ;
    font-size: 18px;
    line-height: 1.9;

}

.carousel-inner::before{
    content:"" ;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar.nav a{
font-size: 15px;
text-transform: uppercase;
font-weight: 500;
}


.navbar-dark .navbar-brand{
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}

.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{
    color: #000;
   
    
}

.navbar-dark .navbar-nav  .navbar-Link{
    color: #000;    
    
}

.w-100{
    height: 100vh;

}

@media only screen and (min-width:768px) and (max-width:991px) {
    .section-padding {
        padding: 50px 0;
    }
    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        width: auto;
        height: auto;
    }
    .navbar-toggler-icon {
        width: 15px;
    }
    .navbar-dark .navbar-brand img {
        width: 65px;
        height: 65px;
    }
    .navbar-dark .navbar-brand {
        font-size: 50px;
    }
    .carousel-caption {
        bottom: 150px;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 80%;
        line-height: 1.6;
        font-size: 16px;
    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
    }
    .carousel-inner::before {
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
    }
}


@media only screen and (max-width:767px){
    .section-padding {
        padding: 50px 0;
      }
    .navbar-nav{
        text-align: center;
    }
    .navbar-toggler{
        width: auto;
        height: auto;
    }
    .navbar-toggler-icon{
        width: 15px;
    }
    .navbar-dark .navbar-brand img {
            width: 0;   
     }

    .navbar-dark .navbar-brand {
        font-size: 18px;
      }
    .carousel-caption{
    bottom: 150px;
    }

    .carousel-caption h5 {
        font-size: 30px;

    }

    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 80%;
        line-height: 1.6;
        font-size: 16px ;
        
    }
    .carousel-item {
        height: 70%;
        overflow: hidden;
      }
      .carousel-inner::before{
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        width: 100%;

        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        
        }
    
}
