/* GENEL */

body {
	
	background-color: #f1fbff;
    
}

*{
    font-family: kalam,cursive ;

    }

    
.w-100{
    height: 100vh;

}

/* GENEL */

/* FOOTER */

.footer {
    display: block;
    background-color: #212529;
    text-align: center;
    transition: transform 0.3s ease;
    
  
}

.footer i {
    font-size: 30px;
    padding-top: 15px;
}

.footer i:hover{
    transform: scale(1.2); 
    opacity: 85%;
}

/* FOOTER */

/* NAVBAR */

.navbar.nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    }

.nav-item a:hover{
    color: #14EE81;
    }

.navbar-dark .navbar-brand{
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}

.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{
    color: #000;
}

.navbar-dark .navbar-nav  .navbar-Link{
    color: #000;

}
    
.ayrac{
    
    font-size: 15px;
    margin: 0px 2px;
}

/* NAVBAR */

/* SLİDERS */



/* TABLET RESPONSİVE */

@media only screen and (min-width:768px) and (max-width:991px) {
    .ayrac{
        display: none;
    }
    .section-padding {
        padding: 50px 0;
    }
    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        width: auto;
        height: auto;
    }
    .navbar-toggler-icon {
        width: 25px;
    }

    .nav-item a:hover{
        color: #14EE81;
        }


}

/* TABLET RESPONSİVE */

/* MOBİL RESPONSİVE */

@media only screen and (max-width:767px){
    .ayrac{
        display: none;
    }
    
    .section-padding {
        padding: 50px 0;
      }
    .navbar-nav{
        text-align: center;
    }

    .navbar-dark .navbar-brand {
        
        font-size: 18px;}

    .navbar-toggler{
        width: auto;
        height: auto;
    }
    .navbar-toggler-icon{
        width: 15px;
    }

    
    footer {
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

/* MOBİL RESPONSİVE */