<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="img\logo.png" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/iletisim.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Süleyman Samet KAYA</title>
  </head>
  <body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- NAVBAR -->

<div class="ust"><nav class="navbar navbar-expand-lg navbar-dark bg-dark">      
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <span class="text" style="color:#14EE81;">Süleyman Samet KAYA</span>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="index.html">Ana Sayfa</a>
          <span class="ayrac" style="color: white;">|</span>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="#hakkimda">Hakkımda</a>
          <span class="ayrac" style="color: white;">|</span>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="ozgecmis.html">Öz Geçmişim</a>
          <span class="ayrac" style="color: white;">|</span>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="sehrim.html">Şehrim</a>
          <span class="ayrac" style="color: white;">|</span>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="mirasimiz.html">Mirasımız</a>
          <span class="ayrac" style="color: white;">|</span>
        </li>
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link" href="ilgialanlarim.html">İlgi Alanlarım</a>
        <span class="ayrac" style="color: white;">|</span>
      </li>
      <li class="nav-item d-flex align-items-center">
        <a class="nav-link active" aria-current="page" href="iletisim.html">İletişim</a>
      </li>
      </ul>
    </div>
  </div>
</nav></div>                      
    
<!-- NAVBAR -->

<!--İletişim Formu-->

<div class="iletisim-container">
  <div class="iletisim-panel">
    <div id="app" class="iletisim-form">
      <form action="form.php" method="post">
        <fieldset>
          <legend><h2>İletişim Formu</h2><hr></legend>
          <input v-model="formData.adSoyad" class="form-isim" type="text" id="ad-soyad" name="ad-soyad" placeholder="Adınızı ve Soyadınızı Giriniz">
          <div v-if="errors.adSoyad" class="error">{{ errors.adSoyad }}</div>
          <div id="error-isim" class="error-isim"></div>
          <div class="row">
            <div class="col-6">
                <input v-model="formData.telefon" class="form-telefon" type="tel" name="telefon" id="telefon" placeholder="Telefonunuz">
                <div v-if="errors.telefon" class="error">{{ errors.telefon }}</div>
                <div id="error-telefon" class="error"></div>
              </div>
            <div class="col-6">
                <input v-model="formData.email" class="form-email" type="email" id="email" name="email" placeholder="E-Postanızı Giriniz">
                <div v-if="errors.email" class="error">{{ errors.email }}</div>
                <div id="error-email" class="error-email"></div>
              </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="yas">Yaş:</label>
              <input v-model="formData.yas" class="form-yas" type="range" id="yas" name="yas" min="0" max="100" value="0" oninput="guncelle(this.value)">
            <label for="yas" id="deger">0</label>
            <div v-if="errors.yas" class="error">{{ errors.yas }}</div>
            <div id="error-yas" class="error"></div>
          </div>
            <div class="col-6">
              <label for="cinsiyet">Cinsiyet: </label>
              <input v-model="formData.cinsiyet" type="radio" id="erkek" name="cinsiyet" value="Erkek">
              <label for="cinsiyet">Erkek</label>
              <input v-model="formData.cinsiyet" type="radio" id="kadin" name="cinsiyet" value="Kadın">
              <label for="cinsiyet">Kadın</label>
              <div v-if="errors.cinsiyet" class="error">{{ errors.cinsiyet }}</div>
              <div id="error-cinsiyet" class="error"></div>
            </div>
          </div>
            <select v-model="formData.sehir" class="form-sehir" id="sehir" name="sehir">
              <option value="" disabled selected>Şehir Seçiniz</option>
              <option value="Adana">Adana</option>
              <option value="Adıyaman">Adıyaman</option>
              <option value="Afyonkarahisar">Afyonkarahisar</option>
              <option value="Ağrı">Ağrı</option>
              <option value="Aksaray">Aksaray</option>
              <option value="Amasya">Amasya</option>
              <option value="Ankara">Ankara</option>
              <option value="Antalya">Antalya</option>
              <option value="Ardahan">Ardahan</option>
              <option value="Artvin">Artvin</option>
              <option value="Aydın">Aydın</option>
              <option value="Balıkesir">Balıkesir</option>
              <option value="Bartın">Bartın</option>
              <option value="Batman">Batman</option>
              <option value="Bayburt">Bayburt</option>
              <option value="Bilecik">Bilecik</option>
              <option value="Bingol">Bingöl</option>
              <option value="Bitlis">Bitlis</option>
              <option value="Bolu">Bolu</option>
              <option value="Burdur">Burdur</option>
              <option value="Bursa">Bursa</option>
              <option value="Çanakkale">Çanakkale</option>
              <option value="Çankırı">Çankırı</option>
              <option value="Çorum">Çorum</option>
              <option value="Denizli">Denizli</option>
              <option value="Diyarbakır">Diyarbakır</option>
              <option value="Düzce">Düzce</option>
              <option value="Edirne">Edirne</option>
              <option value="Elazığ">Elazığ</option>
              <option value="Erzincan">Erzincan</option>
              <option value="Erzurum">Erzurum</option>
              <option value="Eskişehir">Eskişehir</option>
              <option value="Gaziantep">Gaziantep</option>
              <option value="Giresun">Giresun</option>
              <option value="Gümüşhane">Gümüşhane</option>
              <option value="Hakkari">Hakkâri</option>
              <option value="Hatay">Hatay</option>
              <option value="Iğdır">Iğdır</option>
              <option value="Isparta">Isparta</option>
              <option value="İstanbul">İstanbul</option>
              <option value="İzmir">İzmir</option>
              <option value="Kahramanmaraş">Kahramanmaraş</option>
              <option value="Karabük">Karabük</option>
              <option value="Karaman">Karaman</option>
              <option value="Kars">Kars</option>
              <option value="Kastamonu">Kastamonu</option>
              <option value="Kayseri">Kayseri</option>
              <option value="Kilis">Kilis</option>
              <option value="Kırıkkale">Kırıkkale</option>
              <option value="Kırklareli">Kırklareli</option>
              <option value="Kırşehir">Kırşehir</option>
              <option value="Kocaeli">Kocaeli</option>
              <option value="Konya">Konya</option>
              <option value="Kütahya">Kütahya</option>
              <option value="Malatya">Malatya</option>
              <option value="Manisa">Manisa</option>
              <option value="Mardin">Mardin</option>
              <option value="Mersin">Mersin</option>
              <option value="Muğla">Muğla</option>
              <option value="Muş">Muş</option>
              <option value="Nevşehir">Nevşehir</option>
              <option value="Niğde">Niğde</option>
              <option value="Ordu">Ordu</option>
              <option value="Osmaniye">Osmaniye</option>
              <option value="Rize">Rize</option>
              <option value="Sakarya">Sakarya</option>
              <option value="Samsun">Samsun</option>
              <option value="Siirt">Siirt</option>
              <option value="Sinop">Sinop</option>
              <option value="Sivas">Sivas</option>
              <option value="Şırnak">Şırnak</option>
              <option value="Tekirdağ">Tekirdağ</option>
              <option value="Tokat">Tokat</option>
              <option value="Trabzon">Trabzon</option>
              <option value="Tunceli">Tunceli</option>
              <option value="Şanlıurfa">Şanlıurfa</option>
              <option value="Uşak">Uşak</option>
              <option value="Van">Van</option>
              <option value="Yalova">Yalova</option>
              <option value="Yozgat">Yozgat</option>
              <option value="Zonguldak">Zonguldak</option>
            </select>
            <div v-if="errors.sehir" class="error">{{ errors.sehir }}</div>
            <div id="error-sehir" class="error"></div>
          <div class="form-yetenek">
            <label for="yetenek">Yetenek: </label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="C">
            <label for="yetenek">C</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="C++">
            <label for="yetenek">C++</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="C#">
            <label for="yetenek">C#</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="Python">
            <label for="yetenek">Python</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="SQL">
            <label for="yetenek">SQL</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="HTML">
            <label for="yetenek">HTML</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="CSS">
            <label for="yetenek">CSS</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="JS">
            <label for="yetenek">JS</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="PHP">
            <label for="yetenek">PHP  </label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="Java">
            <label for="yetenek">Java</label>
            <input v-model="formData.yetenek" type="checkbox" id="yetenek" name="yetenek[]" value="Scala">
            <label for="yetenek">Scala</label>
            <div v-if="errors.yetenek" class="error">{{ errors.yetenek }}</div>
            <div id="error-yetenek" class="error"></div>
          </div>
          <div class="form-mesaj-baslik">
            <input v-model="formData.mesajbaslik" list="mesaj-baslik" name="mesaj-baslik" id="mesajbaslik" placeholder="Başlık">
            <datalist id="mesaj-baslik">
              <option value="Öneri">Öneri/Dilek</option>
              <option value="Şikayet">Hata/Sorun</option>
              <option value="Diğer">Listede Yok</option>
              <option value="Genel İletişim">
              <option value="Proje Önerisi">
            </datalist>
            <div v-if="errors.mesajbaslik" class="error">{{ errors.mesajbaslik }}</div>
            <div id="error-baslik" class="error"></div>
          </div>
          <div class="form-mesaj">
            <textarea v-model="formData.mesaj" id="mesaj" name="mesaj" rows="5" cols="30" placeholder="Mesajınız"></textarea>
            <div v-if="errors.mesaj" class="error">{{ errors.mesaj }}</div>
            <div id="error-mesaj" class="error"></div>
          </div>
            <input class="button" type="submit" value="Gönder" @click="validateForm">
            <input class="button" type="button" value="Vue.js Kontrol" @click="validateForm">
            <input class="button" type="button" value="JS Kontrol" onclick="jskontrol()">
            <input class="button" type="button" value="Temizle"  @click="resetForm">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
</div>





<!--İletişim Formu-->


      <!-- FOOTER -->

<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
      <a href="mailto:suleymansametkaya@gmail.com"><i class="fa-solid fa-envelope" style="color: #14EE81;"></i></a>
      <a href="https://www.linkedin.com/in/suleyman-samet-kaya/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #14EE81;"></i></a>
      <a href="https://github.com/suleymansametkaya" target="_blank"><i class="fa-brands fa-github" style="color: #14EE81;"></i></a>  
      <a href="https://www.instagram.com/suleymansametkaya/?hl=tr" target="_blank"><i class="fa-brands fa-instagram" style="color:#14EE81;;"></i></a>
      <a href="https://www.twitter.com/S_SametKaya" target="_blank"><i class="fa-brands fa-twitter" style="color: #14EE81;"></i></a>
      <a href="https://open.spotify.com/user/r51g0zxyra9nc5a9lfdbq6rpi?si=407f507ddfc44d97" target="_blank"><i class="fa-brands fa-spotify" style="color: #14EE81;"></i></a>
      <a href="https://www.twitch.tv/suleymansametkaya" target="_blank"><i class="fa-brands fa-twitch" style="color: #14EE81;"></i></a>
      <a href="https://www.youtube.com/@suleymansametkaya" target="_blank"><i class="fa-brands fa-youtube" style="color: #14EE81;"></i></a>
    </div></footer>
  
  <!-- FOOTER -->
      <script src="/js/iletisim.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      </body>
    </html> 